%table.salary
  %tr
    %th 
      Сотрудник
    %th 
      Сумма
    %th 
      Подробности
    -@employees.each do |e|
      %tr
        %td
          =e.name
        %td
          =@employees_salary[e.id][:summ].round(2) 
          руб
        %td
          -@employees_salary[e.id][:details].each do |pos, details|
            .position
              Должность: 
              =pos.name
              =' (Основная)' if pos.is_main
              %ul.name 
                %li.summ
                  Сумма:
                  =details[:summ].round(2)
                  руб
                %li.details
                  Подробности:
                  %ul.details
                    -details.reject{|key| [:summ, :premium, :aid].index(key)}.each do |key, val|
                      %li
                        =(I18n.translate 'activerecord.models.'+key.to_s)+':'
                        =val[:count]
                        дней = 
                        =val[:summ].round(2)
                        руб
                    %li
                      Премии:
                      %ul
                        -if details[:premium]
                          -details[:premium].each do |prem, pdet|
                            %li             
                              Описание:
                              =prem.name
                              =pdet[:count]
                              раз =
                              =pdet[:summ]
                              руб
                    %li
                      Соц. помощь:
                      %ul
                        -if details[:aid]
                          -details[:aid].each do |prem, pdet|
                            %li             
                              =prem.name+':'
                              =pdet[:count]
                              раз =
                              =pdet[:summ]
                              руб                            
                              
