<table class = "employees_visits_table">
<tr>
	<th> Сотрудник </th>
	<th> Сумма </th>
	<th> Подробности </th>
</tr>
<% @employees.each do |e|%>
<tr>
	<td> <%= e.name %></td>
	<td> <%= @employees_salary[e.id][:summ] %><td>
	<td> <%= @employees_salary[e.id][:details].to_s %></td>
</tr>
<% end %>
</table>


